@import url("https://fonts.googleapis.com/css2?family=Signika&display=swap");

h1 {
  font-family: Signika;
  font-size: 1.375rem;
  letter-spacing: -0.24px;
}
.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.favorite-card {
  border-radius: 2em;
  width: 8.25rem;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Signika;
  font-size: 1.0625rem;
  gap: 0.75rem;
}

.favorite-card--fruits {
  background-color: #fff2f0;
  color: #4d0a00;
}

.favorite-card--veg {
  background-color: #eff7ee;
  color: #1c3418;
}

.favorite-card--snacks {
  background-color: #fff8eb;
  color: #4d3200;
}
