@import url("https://fonts.googleapis.com/css2?family=Signika&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color-primary: #ff9385;
  --color-secondary: #fff8ee;
  --font-family-primary: "Signika", sans-serif;
}

.tabs-example {
  display: grid;
  gap: 1em;
}

.tabs {
  font-family: var(--font-family-primary);
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 2rem;
  text-align: center;
  overflow: hidden;
}

.tabs_tab {
  padding: 1em;
  width: 10em;
  height: 3em;
}

.tabs_tab--active {
  background-color: var(--color-primary);
  color: white;
}

.tabs_tab--inactive {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}
