.avatar {
  position: relative;
  /*    height: 40vw;
  width: 40vw; */
}

.avatar_image {
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
}

.avatar_icon {
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  background-color: var(--color-secondary-shade);
  color: white;
  display: grid;
  place-items: center;
  position: absolute;
  bottom: 5%;
  right: 12%;
  outline: solid white;
}
