@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --font-family: "Signika", sans-serif;
  --color-primary: #91c788;
  --color-secondary: #ff8473;
  --color-tertiary: #ffc0b8;
  --color-quaternary: #f4f4f4;
  --color-quinary: #fff8ee;
  --color-senary: #C6C4DE;
  --color-primary-text: #A9A9A9;
  --color-secondary-text: #696969;
}

html {
  font-size: 16px;
}

body {
  var(--font-family)
  margin: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  var(--font-family)
}
